/* CSS Document */

*{ margin:0px; padding:0px; font-size:12px; font-family:"微软雅黑"；}
img{ border:none; display:block;}
hi,h2,h3{ font-weight:normal;}
a{ text-decoration:none; color:#666;}
li{ list-style:none;}