/* CSS Document */

*{ font-family:"微软雅黑","","";}
body,ul,ol,dl,h1,h2,h3,li,dt,dd,table,tr,td,th,input{ margin:0px; padding:0px; font-weight:normal; font-size:14px;}
a{ text-decoration:none;}
li{ list-style:none;}
